/* Work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.button-primary {
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    border: 0;     /* for not showing any black shade at the edge of border*/
    cursor: pointer;  /* for showing hand cursor of mouse cursor */
}
.text-light-gray{
    color: #727272;
}
/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner content */
.banner-content{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}


/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* teams container */
.teams-container{
    display: flex;
    align-items: center;   /*to make the item vertically aligned*/
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 2.8rem;  /*or 45px   here rem is used to make the website responsive */
}
.teams-title .quick-list{
    font-weight: 500;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}





/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .banner-content{
        width: auto;
    }
    .banner-title{
        font-size: 30px;
    }
    .teams-image-container{
        grid-template-columns: 1fr;  /* to keep the the image one by one in downside*/
    }
    .teams-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}


/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }
    .banner-content{
        width: 400px;
        font-size: 20px;
    }
    .banner-title{
        font-size: 30px;
    }
    .teams-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}